.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

button {
  background-color: #54cdcd;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1.4;
  margin: 0;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
}
button[disabled] {
  cursor: default;
}

.people-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
}
.people-list.-mini {
  max-width: 1200px;
}
.people-list.-quiz {
  max-width: 600px;
}
.person-card {
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
}
.person-card img {
  object-fit: cover;
  position: absoulte;
  height: 100%;
  width: 100%;
}
.person-card .detail {
  background-color: #bd3a43;
  bottom: -100%;
  box-sizing: border-box;
  color: white;
  display: block;
  height: auto;
  left: 0;
  margin: 0;
  padding: 10px 8px;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: 0.2s all ease;
  width: 100%;
}
.person-card[data-correct="true"] .detail {
  background-color: #54cdcd;
}
.people-list [data-clicked="true"] .detail {
  opacity: 0.75;
  bottom: 0;
}
.detail span {
  display: block;
}
.person-name {
  text-transform: uppercase;
}
.-quiz .person-name {
  font-weight: bold;
}

.-mini .person-card {
  height: 50px;
  width: 50px;
}
.-mini .detail {
  font-size: 8px;
  padding: 6px 2px;
}
.-mini .detail .person-title {
  display: none;
}

.score {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.score .record {
  background: #54cdcd;
  min-height: 1rem;
  flex-grow: 1;
  /* border-right: 1px solid #fff; */
  transition: 0.2s all ease;
}
.score .record[data-correct="false"] {
  background: #bd3a43;
}
.score .label {
  position: absolute;
  padding: 0 1rem;
  font-size: 12px;
  font-weight: bold;
}
.score .label.average {
  right: 0;
}
.score .label.total {
  left: 0;
}
