.app {
  text-align: center;
}

.logo {
  cursor: pointer;
  display: block;
  height: 10vmin;
}

.header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  min-height: 100vh;
}

button {
  background-color: #54cdcd;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1.4;
  margin: 0;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
}
button[disabled] {
  cursor: default;
}

.people-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0 2rem;
}
.people-list.-mini {
  max-width: 1200px;
}
.people-list.-quiz {
  max-width: 600px;
}
.person-card {
  cursor: pointer;
  height: 50%;
  overflow: hidden;
  position: relative;
  width: 50%;
}
.person-card img {
  height: 100%;
  object-fit: cover;
  position: absoulte;
  width: 100%;
}
.person-card .detail {
  background-color: #bd3a43;
  bottom: -100%;
  box-sizing: border-box;
  color: white;
  display: block;
  height: auto;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 10px 8px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: 0.2s all ease;
  width: 100%;
}
.person-card[data-correct="true"] .detail {
  background-color: #54cdcd;
}
.people-list [data-clicked="true"] .detail {
  bottom: 0;
  opacity: 0.75;
}
.detail span {
  display: block;
}
.person-name {
  text-transform: uppercase;
}
.-quiz .person-name {
  font-weight: bold;
}

.-mini .person-card {
  height: 50px;
  width: 50px;
}
.-mini .detail {
  font-size: 8px;
  padding: 6px 2px;
}
.-mini .detail .person-title {
  display: none;
}

.score {
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}
.score .record {
  background: #54cdcd;
  flex-grow: 1;
  min-height: 1rem;
  transition: 0.2s all ease;
}
.score .record[data-correct="false"] {
  background: #bd3a43;
}
.score .label {
  font-size: 12px;
  font-weight: bold;
  padding: 0 1rem;
  position: absolute;
}
.score .label.average {
  right: 0;
}
.score .label.total {
  left: 0;
}

select {
  margin: 1rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

.leaderboard {
  border: 1px solid #54cdcd;
  margin: 3rem 0;
  text-align: left;
  width: 100%;
}
.leaderboard-title {
  text-align: center;
}
